{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'Hakemus/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Hakemus/960.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Hakemus/text.css' %}" />
    <title>Kysymykset</title>
</head>
{% if latest_question_list %}
<div id="questions" class="container_12">
    <div class="prefix_2">
            <h1 class="q-title">Kolme Ajankohtaista Kysymystä!</h1>
            {% for question in latest_question_list %}
              <a class="questions" href="{% url 'Hakemus:detail' question.id %}">{{ question.question_text }}</a>
            {% endfor %}
    </div>
</div>
{% else %}
    <p>Ei Kysymyksiä!</p>
{% endif %}